<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
  <% var base = '/' + page.path.match(/[\S]*?[\/]*(?=[\/0-9]*index\.html)/); %>
  <%- partial('_partial/header', {base: base}) %>
  <%
    var image = page.image, title = page.title;
    if (!image) {
      for (let t in theme.menu)
        if (theme.menu[t].url == base) {
          image = theme.menu[t].image;
          if (!title) title = theme.menu[t].title;
          break;
        }
    }
    if (page.archive && page.year) {
      title = `${page.year}年`;
      if (page.month) title += `${page.month}月`;
    }
  %> 
  <div class="container">
    <div class="page">
      <% if (image) { %>
        <img src="<%= image %>" rel="page image" class="page-image">
      <% } %>
      <div class="title-box<% if (!page.title) { %> not-post<% } %>">
      <heading><%= title %></heading>
        <% if (page.date) { %>
        <div class="page-dates">
          <div><%= config.author %>于<%= page.date.format(`${config.date_format} ${config.time_format}`) %>创建</div>
          <div>最后修改于<%= page.updated.format(`${config.date_format} ${config.time_format}`) %></div>
        </div>
        <% } %>
      </div>
      <div class="content">
        <%- body %>
      </div>
    </div>
    <div class="widgets">
      <% if (config.useTagCloud) { %>
        <%- partial('_widgets/tagcloud.ejs') %>
      <% } %>
      <% if (config.useLive2d) { %>
        <% partial('_widgets/live2d.ejs') %>
      <% } %>
    </div>
  </div>
  
  <%- partial('_partial/footer') %>
</body>
</html>