<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
  <% var base = '/' + page.path.match(/[\S]*?[\/]*(?=[\/0-9]*index\.html)/); %>
  <%- partial('_partial/header', {base: base}) %>
  <%
    var image = page.image, title = page.title;
    if (!image) {
      for (let t in theme.menu)
        if (theme.menu[t].url == base) {
          image = theme.menu[t].image;
          if (!title) title = theme.menu[t].title;
          break;
        }
    }
    if (page.archive && page.year) {
      title = `${page.year}年`;
      if (page.month) title += `${page.month}月`;
    }
    if (page.tag)
      title = page.tag.name;
  %> 
  <div class="container">
    <div class="left-void"></div>
    <div class="page<% if (page.title) { %> post<% } %>">
      <% if (image) { %>
        <img src="<%= image %>" rel="page image" class="page-image">
      <% } %>
      <div class="title-box">
      <heading title="<% if (page.title) { %>您所在的文章标题为：<% } else { %>您所在的页面为：<% } %><%= title %>"><%= title %></heading>
        <% if (page.date) { %>
        <div class="page-dates">
          <div><%= config.author %>于<%= page.date.format(`${config.date_format} ${config.time_format}`) %>创建</div>
          <div>最后修改于<%= page.updated.format(`${config.date_format} ${config.time_format}`) %></div>
        </div>
        <% } %>
      </div>
      <div class="content">
        <%- body %>
      </div>
    </div>
    <div id="widgets">
      <% if (page.title) { %>
        <%- partial('_widgets/outline.ejs') %>
      <% } %>
      <% if (page.title && theme.useShare) { %>
        <%- partial('_widgets/share.ejs') %>
      <% } %>
      <% if (theme.useTagCloud) { %>
        <%- partial('_widgets/tagcloud.ejs') %>
      <% } %>
      <% if (theme.useLive2d) { %>
        <%- partial('_widgets/live2d.ejs') %>
      <% } %>
    </div>
  </div>
  <div class="fixed-right">
    <button id="to-top-btn" class="icon-btn" title="回到页面顶端">
      <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M507.392 830.976c-26.624 0-47.616-21.504-47.616-47.616V417.28c0-26.624 21.504-47.616 47.616-47.616s47.616 21.504 47.616 47.616V783.36c0.512 26.112-20.992 47.616-47.616 47.616zM762.368 288.768H261.632c-26.624 0-47.616-21.504-47.616-47.616s21.504-47.616 47.616-47.616h500.736c26.624 0 47.616 21.504 47.616 47.616s-20.992 47.616-47.616 47.616z"></path>
        <path d="M657.92 571.904c-12.288 0-24.576-4.608-33.792-13.824L507.392 441.344l-116.224 116.224c-18.432 18.432-49.152 18.432-67.584 0-18.432-18.432-18.432-49.152 0-67.584l150.016-150.016c18.432-18.432 49.152-18.432 67.584 0l150.528 150.016c18.432 18.432 18.432 49.152 0 67.584-9.216 9.216-21.504 14.336-33.792 14.336z"></path>
      </svg>
    </button>
    <button id="widget-btn" class="icon-btn" title="点击以展开组件菜单，包含了文章目录等组件">
      <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M230.4 110.1c0-2.5 2.1-4.6 4.6-4.6h707.6c2.5 0 4.6 2.1 4.6 4.6v144.4c0 2.5-2.1 4.6-4.6 4.6H235c-2.5 0-4.6-2.1-4.6-4.6V110.1zM352.4 474.7c0-2.3 1.9-4.2 4.2-4.2h599.2c2.3 0 4.2 1.9 4.2 4.2v145.2c0 2.3-1.9 4.2-4.2 4.2H356.6c-2.3 0-4.2-1.9-4.2-4.2V474.7zM352.4 769.1c0-2.3 1.9-4.2 4.2-4.2h599.2c2.3 0 4.2 1.9 4.2 4.2v145.2c0 2.3-1.9 4.2-4.2 4.2H356.6c-2.3 0-4.2-1.9-4.2-4.2V769.1zM284.1 571.4v-46.9H110.9V199.8h60.3v-46.9H87.4c-12.9 0-23.4 10.5-23.4 23.4v668.1c0 12.9 10.5 23.4 23.4 23.4H284v-46.9H110.9V571.4h173.2z"></path>
      </svg>
    </button>
  </div>
  
  <%- partial('_partial/footer') %>
</body>
</html>